*{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100vh;
	display: flex;
}
.index{
    position: fixed;
	width: 20%;
	height: 100%;
	/*background-color: rgba(124, 99, 168, 0.973);*/
    left: 0%;

    transition: all 500ms linear;

}

/*
.logo{
    object-fit: contain ;
    grid-row-start: 1;
    grid-row-end: 3;
    width: auto;
    height: 100%;
    right: 0;
    text-align: right;
}*/

.tabContainer{
    background-color: rgba(124, 99, 168, 0.973);
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

li button{
	color: white;
    padding: 8px;
    font-family: sans-serif;
	font-size: 20px;
	text-align: left;
	background: none;
	width: 100%;
	border: none;

    outline:none;
	display: block;
    cursor: pointer;
    border-left: 3px solid transparent;

}
li.active button{
  color: #ffffff;
  /* background: #5d0586; */
  background-color: #5d0586;
  border-left-color: #bca0dc;
}
button:hover{
/*background: #6a3099;*/
    background: #6a3099;
    transition: all 500ms linear;

}
ul{
  position: static;
  display: none;
}
.feat-show.show{
  display: block;
}

button span{
  /*position: absolute;
  top: 50%;
  right: 20px;*/
  height: fit-content;
  transform: translateY(-50%);
  transition: transform 0.4s;
}
span{
	/*padding-top: 5%;*/
	margin-top: 5%;
}
#showpanel{
    float: right;
}
button span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
li.active li button{
  color: #e6e6e6;
  background: #6a3099;
  border-left-color: transparent;
}

ul li{
  line-height: 42px;
  border-top: none;
}
ul li button{
  font-size: 20px;
  color: white;
  padding-left: 40px;
}
ul li button:hover{
  color: #ffffff !important;
  background: rgb(81, 49, 133)!important;
}
.feat-btn:hover ul li button{
	display: block;
}
.buttonContainer{
	/*margin-left: 35px;*/
	width: inherit;
	/*padding-left: 40px;*/
	/*border: 1px solid white;*/
}
.content{
    width: 100%;
    padding: 20px;
    transition: all 500ms linear;
    margin-left: 20%;
}
#cont{
	width: 100%;
}
#cont h1{
	font-size: 50px;
	margin-top: 50px;
}
#cont p{
	margin-top: 40px;
}
.content1{
	display: none;
}
/*
.hamburger{
    display: block;
    flex-direction: column;
    position: absolute;
    left: 105%;
    top:20px;
    height: 22px;
    width: 22px;

}
*/


.hamburger{
    height: 22px;
    width: 22px;
    position: absolute;
    z-index: 999;
    left: 105%;
    top:20px;
    transition: all 0.3s;
    cursor: pointer;

}

.index .hamburger span{
    display: block;
    height: 4px;
    width: 35px;
    background-color: black;
    transition: all 0.3s;
}

.index .hamburger .first{
    transform: rotate(135deg);
    margin-top: 8px;

}
.index .hamburger .last{
    transform: rotate(-135deg);
    margin-top: -9px;

}
.index .hamburger .middle{
    opacity: 0;
}

.index .hamburger span{
    display: block;
    height: 4px;
    width: 35px;
    background-color: black;
    transition: all 0.3s;
}
.index.active{
    left: -20%;

}

.index.active .hamburger span{
    display: block;
    height: 4px;
    width: 35px;
    background-color: black;
    transition: all 0.3s;
}


.index.active .hamburger .middle,
.index.active .hamburger .last{
    margin-top: 3px;
}

.index.active .hamburger .first{
    transform: rotate(0deg);
    margin-top: 0;

}
.index.active .hamburger .last{
    transform: rotate(0deg);

}
.index.active .hamburger .middle{
    opacity: 1;
}


.content.slide{
    margin-left: 0;
}

@media screen and (max-width: 850px) {
    .index{
        position: fixed;
        width: 100%;
        height: auto;
        --height:auto;
        /*background-color: rgba(124, 99, 168, 0.973);*/
        background-color: #3c1361;
        transform: translateY(-100%);
        left: 0;
        max-height: 70%;
        transition: all 500ms linear;

        }
    .index.active{
        left: 0;
        transform: translateY(var(--height));
    }
    .hamburger{
        top:110%;
        bottom: 20px;
        left: 80%;
        display: block;
        float: right;
    }
    
    .index .hamburger span{
        display: block;
        height: 4px;
        width: 35px;
        background-color: black;
        transition: all 0.3s;
    }
    .index .hamburger .middle,
.index .hamburger .last{
    margin-top: 3px;
}

.index .hamburger .first{
    transform: rotate(0deg);
    margin-top: 0;

}
.index .hamburger .last{
    transform: rotate(0deg);

}
.index .hamburger .middle{
    opacity: 1;
}

    
    .index.active .hamburger .first{
        transform: rotate(135deg);
        margin-top: 8px;
    
    }
    
    .index .hamburger .middle,
    .index .hamburger .last{
        margin-top: 3px;
    }
    
    
    .index.active .hamburger .last{
        transform: rotate(-135deg);
        margin-top: -9px;
    
    }
    .index.active .hamburger .middle{
        opacity: 0;
    }
        
    .content{
        margin-left: 0;
    }
    .content.slide{
    margin-left: 0%;

    }


}

.head{
	padding-bottom: 15px;
	padding-top: 0px;
	padding-right: 15px;
	width: 100%;
	background-color:rgb(81, 49, 133);
}

.he1{
	color: white;
	width: 80%;
	text-align: left;
	font-family: sans-serif;
	/*font-size: 35px;*/
  	font-weight: bold;
	  padding-top:15%;
  	/*text-align: right;*/
  	letter-spacing: 1px;
  	/*border:0.5px solid white;*/
  	padding-bottom: 0%;
	/*height: 5vh;*/
	/*width: 60%;
	*/
}
img{
	width: 30%;
	max-width: 100%;
	height: auto;
	border-radius: 15px;
	/*padding-top: 4%;*/
	/*padding-bottom: 4%;*/
}
.head input{
	background: transparent;
	border-radius: 10px;
	width: 80%;
	height: 3vh;
	border:0.5px solid white;
	margin-top: 5%;
	padding-left: 7px;  
}
